{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block style %}
<style>
  .books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .book {
    padding: 16px;
    column-count: 1;
    border-radius: 10px;
    background: #ffffff;
  }
  .book-title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .book-price {
    margin-top: 12px;
    color: brown;
  }

  .book-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
  }

  .book-link {
    display: block;
  }

  .form {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .form-label {
    color: #f1f1f1;
  }

  .pagination-list {
    list-style: none;
  }

  .form-btn {
    font-size: 14px;
    background: #f1f1f1;
    color: black;
  }
</style>
{% endblock %}

{% block content %}
  {% if user_role in 'manager,admin' %}
  <div class="block block-row bg-dark">
    <select name="create" class="selector" onchange="window.location.href = this.value">
      <option disabled selected>Выберите, что нужно добавить...</option>
      <option value="{% url 'main:create_author' %}">Aвтор</option>
      <option value="{% url 'main:create_book' %}">Книга</option>
      <option value="{% url 'main:create_genre' %}">Жанр</option>
      <option value="{% url 'main:create_lang' %}">Язык</option>
    </select>
  </div>
  {% endif %}

  {% if user_role not in 'gust' %}
  <div class="block block-row bg-dark">
    <form method="get" class="block-row">
      <div class="form-field">
        <label for="search" class="form-label">Поиск</label>
        <input type="text" name="search" id="search" class="input" />
      </div>
      <div class="form-field">
        <label for="sort" class="form-label">Сортировка</label>
        <select name="sort" id="sort" class="selector">
          <option disabled selected>Выберите вариант сортировки</option>
          <option value="name-asc">АЯ</option>
          <option value="name-desc">ЯА</option>
          <option value="price-asc">По возрастанию цены</option>
          <option value="price-desc">По убыванию цены</option>
        </select>
      </div>
      <div class="form-field">
        <button type="submit" class="btn form-btn dark">Найти</button>
        <a href="{% url 'main:books' %}" class="btn form-btn">Сброс</a>
      </div>
    </form>
  </div>
  {% endif %}

  <div class="books block bg-light">
    {% for book in page_obj %}
    <div class="book">
      <div class="book-title dark"><b>{{ book.name }}</b></div>
      <div class="dark"><b>Жанр</b>: {{ book.genre }}</div>
      <div class="dark"><b>Автор</b>: {{ book.author }}</div>
      <div class="book-title book-price"><b>{{ book.price }}</b> &#8381;</div>
      <button class="btn bg-dark light">В корзину</button>
      {% if user_role in 'manager,admin' %}
      <div class="book-actions">
        <a href="/books/update/{{ book.id }}" class="book-link dark">Редактировать</a>
        <a href="#" class="book-link dark">Удалить</a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <div>Пусто</div>
    {% endfor %}
  </div>

  {% if page_obj.has_other_pages %}
  <div class="block-row">
    {% if page_obj.has_previous %}
    <a
      href="?page={{ page_obj.previous_page_number }}{% if search_value %}&search={{ search_value }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}"
      class="btn bg-light dark"
    >
      Предыдущая
    </a>
    {% endif %}
    
    {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}{% if search_value %}&search={{ search_value }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}"
      class="btn bg-light dark"
    >
      Следующая
    </a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content%}
